{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'homePage.css' %}">
{% endblock %}

{% block content %}
<main class="d-flex d-lg-flex flex-column justify-content-center justify-content-lg-center align-items-lg-center" style="min-height: 100vh;">
    <div class="container" style="background-color: #fff;">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: #fc9c34;padding-top: 20px;padding-bottom: 15px;font-weight: bold;">Hello, [username]!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link active" href="#tab-1" style="border-width: 1px;border-style: none;">Patients</a></li>
                        <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link" href="#tab-3">Account</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-1" style="margin: 20px;">
                            <h2 style="color: #092327;">Patients</h2>
                            <input type="search" placeholder="Search for Patients..." class="search-patients" />
                            <ul class="list-group" style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                {% for patients in object %}
                                <li class="list-group-item"><a href="#" class='patient-name'>{{ patients.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-3">
                            <div class="d-flex d-xl-flex flex-column align-items-center justify-content-xl-center align-items-xl-center" style="width: 100%;padding: 20px;">
                                <img class="rounded-circle" src="{% static '/img/avatarTvachaCare.png' %}" width="30%" />
                                <h2 style="color: #fc9c34;font-family: Raleway, sans-serif; margin-top: 20px;">[username]</h2>
                                <hr>
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <ul class="list-group" style="border-style: none;">
                                            <li class="list-group-item d-lg-flex flex-row justify-content-between align-items-lg-center" style="border-style: none;width: 100%;">
                                                <strong style="color: #fc9c34;">Email:</strong>
                                                <span style="color: #fc9c34;padding-left: 10px;">emailaddress@website.com</span>
                                                <button class="btn d-lg-flex justify-content-lg-center align-items-lg-center" type="button" style="background-color: #fc9c34;">
                                                    <i class="fas fa-edit edit-icon"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-lg-flex flex-row justify-content-between align-items-lg-center" style="border-style: none;width: 100%;">
                                                <strong style="color: #fc9c34;">First Name:</strong>
                                                <span style="color: #fc9c34;padding-left: 10px;">Ramesh</span>
                                                <button class="btn d-lg-flex justify-content-lg-center align-items-lg-center" type="button" style="background-color: #fc9c34;">
                                                    <i class="fas fa-edit edit-icon"></i>
                                                </button>
                                            </li>
                                            <li class="list-group-item d-lg-flex flex-row justify-content-between align-items-lg-center" style="border-style: none;width: 100%;">
                                                <strong style="color: #fc9c34;">Last Name:</strong>
                                                <span style="color: #fc9c34;padding-left: 10px;">Acharya</span>
                                                <button class="btn d-lg-flex justify-content-lg-center align-items-lg-center" type="button" style="background-color: #fc9c34;">
                                                    <i class="fas fa-edit edit-icon"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}