{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>Login Admin</title>
{% endblock %}

{% block content %}

    <main class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="height: 100vh;">
    <form method="post" style="padding: 30px;background-color: white;">
        <h2 class="sr-only">Login Form</h2>
        <div class="d-flex d-xl-flex justify-content-center justify-content-xl-center illustration" style="margin-bottom: 20px;">
            <img class="rounded-circle" src="{% static '/img/avatarTvachaCare.png' %}" height="100px" />
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-block" type="submit" style="background-color: #fc9c34; color: white">Log In</button>
        </div>
        <a class="forgot" href="#" style="color: #fc9c34;">Forgot your password?</a>
        <a class="forgot" href="#" style="color: #fc9c34;">Register</a>
    </form>
</main>

{% endblock %}